@charset "UTF-8";
/*durée à modifier*/
/*liste des mixins à utiliser*/
.bloc_page {
  width: 95%;
  margin: auto;
  position: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.header__logo {
  float: center;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5%;
}

.header__logo img {
  width: 90%;
  height: 50px;
  padding-bottom: 5%;
  margin-left: 10%;
}

/*caracteristiques du header pour les pages de menu*/
.header__logo i.fas {
  float: left;
  font-size: 2em;
  margin-bottom: 5%;
  height: 100%;
}

/*fin du header pour les pages*/
.slogan {
  background-color: rgba(195, 199, 193, 0.2);
  border: 0.5px transparent none;
  border-top: solid 3px rgba(195, 199, 193, 0.8);
  text-align: center;
  padding-bottom: 10%;
}

.slogan .zone_recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding-bottom: 1em;
  padding-right: 1em;
  padding-top: 1em;
  background-color: rgba(195, 199, 193, 0.3);
}

.slogan .zone_recherche .recherche {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.slogan .zone_recherche .fas {
  margin-right: 5%;
  margin-left: 15%;
}

h3 {
  font-weight: lighter;
  color: grey;
}

.bouton {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0.5em;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  font-style: bold;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0%;
  margin-right: 20%;
}

.fonctionnement ul {
  list-style-type: none;
  margin-left: 0%;
  width: 100%;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fonctionnement li {
  border: 1px solid none;
  border-radius: 15px 15px 15px 15px;
  float: left;
  width: 100%;
  border: 0.5px transparent none;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fonctionnement li:hover > a .__hov {
  opacity: 1;
  -webkit-transform: 8px 8px 12px #aaa;
          transform: 8px 8px 12px #aaa;
}

.fonctionnement a {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  width: 100%;
  width: 100%;
  padding-left: 10%;
  float: left;
  background-color: rgba(195, 199, 193, 0.2);
  position: relative;
  text-align: left;
  padding-top: 20px;
  padding-left: 1%;
  padding-bottom: 20px;
  width: 100%;
  border: 0.5px transparent none;
  border-radius: 15px 15px 15px 15px;
  z-index: 1;
}

.fonctionnement a .fas {
  margin-left: 0%;
  margin-right: 5%;
}

.__hov {
  position: absolute;
  top: 0;
  border: 0.5px transparent none;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: hidden;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e4d5f6;
  z-index: -1;
  -webkit-transition: -webkit-transform opacity 250ms;
  transition: -webkit-transform opacity 250ms;
  transition: transform opacity 250ms;
  transition: transform opacity 250ms, -webkit-transform opacity 250ms;
}

.fonctionnement .number {
  background-color: #9356DC;
  border: 0.5px transparent none;
  padding: 1px;
  width: 2%;
  text-align: center;
  margin-bottom: 1%;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
  color: white;
}

@media all and (max-width: 480px) {
  .fonctionnement .number {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5%;
  }
}

.restaurants {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  background-color: rgba(195, 199, 193, 0.2);
}

.restaurants ul {
  list-style-type: none;
}

.restaurants ul li {
  margin-left: 0;
}

.restaurants ul li a {
  border: 1px solid none;
  border-radius: 15px 15px 15px 15px;
  float: left;
  margin-bottom: 10%;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  width: 100%;
  margin-right: 5%;
  text-align: bottom;
}

.restaurants ul li a img {
  border: 1px solid none;
  border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  float: left;
  height: 150px;
}

.restaurants ul li a .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.restaurants ul li a p {
  font-weight: lighter;
}

.restaurants ul li a .far {
  float: right;
  color: grey;
  font-size: 30px;
  width: 20%;
}

.restaurants .far::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 50px;
  display: block;
  background: #FF79DA;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.restaurants .far::after:hover .far::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

/* caracteristiques des elements pour les pages des menus*/
.photo {
  height: 10%;
}

.photo img {
  width: 100%;
  height: 100%;
}

.page_menu {
  background-color: rgba(195, 199, 193, 0.2);
}

.page_menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}

.page_menu .menu ul {
  list-style: none;
  width: 100%;
}

.page_menu .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page_menu .menu ul li a {
  background-color: white;
  width: 80%;
  border: 1px solid none;
  border-radius: 15px 15px 15px 15px;
  margin-left: 0%;
  margin-right: 10%;
  width: 80%;
  -webkit-box-shadow: grey;
          box-shadow: grey;
  padding: 20px;
  border: 0.5px transparent none;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 10%;
}

.page_menu .menu ul li a:hover > .green_fill {
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
}

.page_menu .menu ul li a:hover > .green_fill > .fas {
  -webkit-transform: scale(1) rotate(90deg);
          transform: scale(1) rotate(90deg);
}

a .green_fill {
  background-color: #99E2D0;
  padding: 20px;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

a .green_fill.fas {
  color: #99E2D0;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  width: 100%;
  background-color: white;
  border: 0.5px transparent none;
  border-radius: 30px 30px 30px 30px;
  height: 10px;
  width: 100%;
  -webkit-transform: scale(0) rotate(0deg);
          transform: scale(0) rotate(0deg);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  float: right;
}

.page_menu .menu a {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  width: 100%;
}

footer {
  background-color: #19252F;
}

footer img {
  color: white;
}

footer ul {
  list-style-type: none;
}

footer ul a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footer ul a .fas {
  padding-right: 10%;
}

.footer_important {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */