$colour-primary: #9356DC;
$colour-secondary: linear-gradient(#FF79DA,#9356DC);
$colour-tertiary: #99E2D0;
$colour-hovbutton:#9356DC;
$colour-hovheart:#FF79DA;
$back-clr:rgba($color: #c3c7c1, $alpha: 0.2);
$font_title:'Shrikhand', cursive;
$font_body:'Roboto', sans-serif;
$border: 0.5px transparent none;
$border_rad: 20px 20px 20px 20px;
$anim_dur:0.7s;/*durée à modifier*/
$box-shad:rgba($color:#a1aaa7, $alpha: 0.2);

/*liste des mixins à utiliser*/
@mixin border{border:1px solid none; border-radius: $border_rad;}
@mixin fontoption{
    color:black; 
    font-weight: bold;
    font-family: $font_body; 
    text-decoration: none; 
    width: 100%;}
@mixin box-shad{box-shadow:0px 0px 8px 2px rgba($color:#a1aaa7, $alpha: 0.3);}

@mixin menuformat {
    background-color: $back-clr;
    width: 100%; 
    display: flex;
    display: inline; 
    border:$border; 
    border-radius: 15px 0px 0px 0px;}

@mixin button{
    background: $colour-secondary; box-shadow: 0px 0px 8px 2px rgba($color:#a1aaa7, $alpha: 0.2);
    padding: 1em; border-radius:25px 25px 25px 25px;
    text-align: center; font-size: 1em;
    color: white;
    font-family: $font_body; font-weight: 400;
    border: none; font-style: bold;}
  
    /*keyframes et specificités sur l'animation du menu déroulant */
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    /*spécificités du sode sur le loading spinner*/
.animation_chargement::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0;
    animation: back $anim_dur forwards;
      }
.animation_chargement::after{
    border: 10px solid black;
    border-radius: 50%;
    z-index: 10002;
    content: "";
    position: absolute;
    top:50%; bottom:50%; right: 50%; left:20%;
    border-top:20px solid #2c3e50;
    border-bottom:20px solid #e74ce7;
    border-left:20px solid $colour-primary;
    border-right:20px solid $colour-tertiary;
    width:200px; height: 200px;
    margin:auto;
    animation:spin $anim_dur linear alternate-reverse forwards;
}
@keyframes spin {
    0% { transform: translateX(0) rotate(0deg);opacity: 0;
}
10% { transform: translateX(0) rotate(360deg);opacity: 1;
}
40%{transform: translateX(0) rotate(0deg);
}
60%{transform: translateX(0) rotate(360deg);
}
95% { 
    transform: translateX(-9999px) rotate(360deg);
}
100%{ transform: translateX(-9999px) rotate(0deg); opacity: 0;}
}
@keyframes back{
0% {
    opacity:0;
}
2%{
 opacity:1
} 
95%{
 opacity:1;
}
100%{
 opacity:0;
}
}
.animation_chargement {display: flex;flex-direction:column; height: 20px;
span {
font-family: $font_title; background-color: white; 
font-weight: 2px;
border-top:10px solid white;
border-bottom:10px solid white;
border-left:10px solid white;
border-right:10px solid white;
opacity:0;
animation: back $anim_dur forwards;
}
}
body{width:90%;margin:0px auto;@include fontoption;}
header, main, footer{
max-width: 1024px; margin:0px auto;
display: flex; 
justify-content: stretch; flex-direction: column;
cursor: pointer;
font-family: $font_body;}
h1{ display: flex;font-size: 1.4em;font-weight: 900;
     flex-direction:row;
     margin-bottom:0;width: 90%;margin-left: 5%;
     align-items: center;}
h2{color:grey;font-size: 1.2em;font-weight: 500;margin-left: 2px;}
    .far{font-weight:1px;}
   
.header__logo 
{
align-items: center; width:60%;  margin-left:15%; margin-right:20%;
display: flex;padding-top:20px; 
 img {
width: 100%; align-items: center;}
}
/*caracteristiques du header pour les pages de menu*/
.header__logo i.fas{
    float: left; font-size: 2em;
   margin-bottom: 5%;
    height:100%;}
    /*fin du header pour les pages*/

.slogan
{
    background-color: $back-clr; border: $border; display: flex; flex-direction:column; 
    text-align: justify;
    border-top: solid 3px rgba($color: #c3c7c1, $alpha: 0.8);
    text-align: center;
    padding-bottom: 10%;width:100%;

.zone_recherche
{  
 display: flex; justify-content: center;
 flex-direction:row;
 width:100%;
 padding-bottom:1em;
 padding-top:1em;
 background-color: rgba($color: #c3c7c1, $alpha: 0.3);color:rgb(66, 61, 61);
 .recherche { 
    @include fontoption;color:rgb(66, 61, 61);
    border:none; background-color: rgba($color: white, $alpha: 0);width:50%;
}
.fas{margin-right:5%; margin-left: 15%;}
}}

h3
{ font-weight: lighter;color:grey;
}

    .bouton, ._commander {
        @include button;}
        ._commander{margin-left:30%; margin-bottom:20px;margin-right:30%; width:40%; padding:15px;}
.fonctionnement
{ 
    display: flex;
    width: 80%; justify-content: center;
    margin-left:15px;
    flex-direction: column; padding-top: 10%;
     h1{margin:3px;padding-bottom: 20px;}
    ul 
    {
    list-style-type : none;
    padding-left:0;
    width: 100%; margin:5px;
    position: relative; 
    justify-content: space-around; align-items: center;
}
}   
    .fonctionnement li 
    {
     @include border;
    float: left;
    width: 100%;
    border:$border;
    box-shadow: $box-shad;
    border-radius: $border_rad;
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: row;
    &:hover { 
        &>a .__hov {
            opacity:1;box-shadow: 0px 8px 28px;
        }
        }
}
       .fonctionnement a {
       @include fontoption; @include box-shad;
       width: 100%; 
       padding-left:10%; 
       float: left;
       background-color: $back-clr;
       position: relative; 
       text-align: left;
       padding-top: 20px;
       padding-left:1%;
       padding-bottom: 20px;
       width:100%;
       border:$border;
       border-radius: $border_rad;
       z-index:1; 
       box-shadow: $box-shad;
       .fas{ 
        margin-left: 8%;
        color: grey;
        margin-right:5%;
        a:hover{color:$colour-primary;}
            }}
    .__hov{
        position: absolute; top: 0; border:$border; width: 100%; 
        border-radius: $border_rad; 
        box-shadow:darken($box-shad,60);
        overflow:hidden;
        opacity:0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: lighten($colour-hovbutton, 30); 
        z-index: -1;
        transition: transform opacity 250ms;
    }
    .fonctionnement .number{
        background-color: $colour-primary; position:relative; 
        margin-right:-12px;margin-top:20px;margin-left: 10px;
        border:$border; padding:2px; text-align: center;
        border-radius:$border_rad;height: 20px;width: 20px;font-weight: 400;
        color:white;
    }
   .restaurants { 
    width: 100%; 
    display: flex; 
    flex-direction:column; 
    justify-content: space-around;
    background-color: $back-clr;
    h2{padding-left: 20px;}
    ul {
        list-style-type : none; 
        width:100%;
        align-items: center;
        padding-left:0;
        padding-left:20px; 
        padding-right:20px;
        li{background-color: white;
            width: 90%;
            @include border;
         a { 
            margin-bottom: 10%;
            @include fontoption;@include box-shad;
            display: flex;border-radius: $border_rad;
            flex-direction: column;
            width: 100%; height: 20%; object-fit: cover;
            position:relative;
                 img 
            {border: $border;border-radius: $border_rad;
            width: 100%; object-fit: cover;
            height: 150px;
                }
                .new{
                    position: absolute; top:10px;right:10px;
                     padding-top:0.5em; 
                     padding-bottom:0.5em; 
                     padding-left:1em; 
                     padding-right:1em; 
                     background-color:$colour-tertiary;
                     color:rgba($color:#1c2924, $alpha: 0.5);}
                     .caption{
                         display: flex; align-content: center;
                         flex-direction: row;
                         justify-content: space-between; margin-top: 15px; height:20%;
                span{padding-left:10px;padding-bottom:10px;
                    }}
                    p{font-weight:1px;color:grey;margin-top:0;font-style: normal;}
                .far 
                {
                 color:grey; font-size: 25px; margin-right: 10%; font-weight:2px;height: 20%; 
                 opacity:1;
                 transform:scaleY(0);}
                 .far::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    overflow: hidden;
                    background: #0b0b0b;
                    opacity: 0;
                    transform:scaleY(1)
                      }
                      &:hover{transition:all 2s ease-in-out}
                }
            }
        }
        }

    /* caracteristiques des elements pour les pages des menus*/


.page_menu {
    display: flex; 
    flex-direction: column; justify-content: stretch;
    .photo{height: 10%;
        img{width: 100%;height:100%;}}
        .menu { display: flex;  width: 100%; height: 40%; flex-direction: column; margin-left:0%; 
            background-color:#f2F2F2; margin-top:-12%; border-radius: 25px 25px 0px 20px;
            display: flex; flex-direction: column;
            h1{margin-left:20px;font-family: $font_title;justify-content: stretch;
                font-size: 2em;margin-right:20px; margin-bottom: 20px;
                font-weight:500;
            .far{font-weight:100; padding-left:30px;color:#39393a;}}
            .list_plat{align-items:center; margin-left: 20px;margin-right: 20px;
            h2{margin-bottom: 5px;}}
            .green_line{padding:2px;width:60px; background-color: $colour-tertiary;border:$border;}
                        ul {list-style: none; 
                            width: 100%;
                            padding-left:0;
            li {
                display: flex; flex-direction: row;}
a {background-color: white;
    @include border;@include fontoption; 
    font-size: 1.2em;
    width: 100%;
    padding:20px;padding-bottom: 0; display: flex; flex-direction:row;justify-content: space-between;
border:$border; 
border-radius: $border_rad; margin-bottom: 20px;
span{width:90%;
p{font-weight: 500;color:rgb(66, 61, 61);margin-top:5px;font-size:0.9em;}}
.prix{width:10%; margin-top:25px;font-size: 0.9em;}
}
}
}
}

footer {
        background-color:#39393a;
                img {width:110px;height: 60px; padding-left:20px;}
                ul {
            list-style-type : none; padding-left:20px;margin-top: 0;}
            .footer_important{align-items: center;}
        a {
            color:white; text-decoration: none; font-weight: 400;
        .fas{
         margin-right:25px; width: 1px;height: 0.1px;
        }
    }
}
        .footer_important {
            font-weight: bold;
        }
        @media all and (max-width: 768px)
    {
        body{margin:0;width:100%;}
        header, main,footer{margin:0; max-width:768px; }
        .header__logo 
{
float: center; align-items:center;
 img {
 padding-bottom: 5%; object-fit: unset; width:100%; margin-left:10%;}
}
.slogan .zone_recherche {
margin-left:0;}
/*caracteristiques du header pour les pages de menu*/
.header__logo {margin-left:5%;padding-top:0; margin-top:0;
i.fas{
    float: left; font-size: 1.5em;color:black;
   margin-bottom: 15px;margin-right:20px;
    height:100%;}}
    /*fin du header pour les pages*/
        
    }