@charset "UTF-8";
/**Loader Spinner**/
header.page_menu, main.page_menu, footer.page_menu {
  -webkit-animation-name: molten-pull;
          animation-name: molten-pull;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  animation-direction: reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(252, 252, 252, 0.95);
  position: fixed;
  -webkit-animation-name: molten-push;
          animation-name: molten-push;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.LoaderSpinner {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 10px solid rgba(153, 226, 208, 0.2);
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.LoaderSpinner:before {
  content: '';
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.LoaderSpinner:after {
  content: '';
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  position: absolute;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/*liste des mixins à utiliser*/
/*keyframes et specificités sur l'animation du menu déroulant */
@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes fadein {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

/*Les animations*/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes molten-push {
  0% {
    opacity: 0.95;
    z-index: 1000;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes molten-push {
  0% {
    opacity: 0.95;
    z-index: 1000;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes molten-pull {
  0% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes molten-pull {
  0% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

body {
  margin: auto;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  max-width: 1920px;
}

header,
main,
footer {
  margin: 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  max-width: 1920px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 1.4em;
  font-weight: 900;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  color: grey;
  font-size: 1.2em;
  font-weight: 500;
}

.far {
  font-weight: 600;
}

h3 {
  font-weight: lighter;
  color: grey;
}

.bouton,
._commander {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 10px 20px 20px rgba(161, 170, 167, 0.2);
          box-shadow: 10px 20px 20px rgba(161, 170, 167, 0.2);
  padding: 1em;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  font-size: 1em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: none;
  opacity: 1;
  margin-top: 30px;
}

._commander {
  margin-left: 30%;
  margin-bottom: 20px;
  margin-right: 30%;
  width: 40%;
}

.bouton:hover,
._commander:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 8px 28px #a1aaa7;
          box-shadow: 0px 8px 28px #a1aaa7;
}

.fonctionnement ul .bouton {
  padding: 10rem;
  background-color: black;
}

.slogan {
  background-color: rgba(195, 199, 193, 0.2);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-top: solid 3px rgba(195, 199, 193, 0.8);
  padding-bottom: 5%;
}

.slogan .zone_recherche {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  background-color: rgba(195, 199, 193, 0.3);
  color: #423d3d;
}

.slogan .zone_recherche .recherche {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #423d3d;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.slogan h1 {
  margin-left: 0;
}

@media all and (max-width: 768px) {
  .slogan {
    padding-bottom: 10%;
  }
}

header {
  text-align: center;
}

.header__logo {
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*caracteristiques du header pour les pages de menu*/
.header__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo a {
  width: 10%;
}

.header__logo a .fa-arrow-left {
  float: left;
  color: grey;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 2px;
  font-size: 2rem;
}

/*fin du header pour les pages*/
@media all and (max-width: 768px) {
  .header__logo img {
    max-width: 90%;
  }
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

.fonctionnement h1 {
  padding-bottom: 20px;
  margin-left: 20px;
}

.fonctionnement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fonctionnement li {
  width: 45%;
  margin-bottom: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(161, 170, 167, 0.3);
          box-shadow: 0px 0px 8px 2px rgba(161, 170, 167, 0.3);
  border: none;
  border-radius: 20px 20px 20px 20px;
  float: left;
  background-color: rgba(195, 199, 193, 0.2);
  position: relative;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
}

.fonctionnement li .number {
  border: none;
  border-radius: 20px 20px 20px 20px;
  background-color: #9356DC;
  position: relative;
  margin-left: -7px;
  padding: 2px;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  height: 20px;
  width: 20px;
  font-weight: 400;
  color: white;
}

.fonctionnement li .fas {
  color: grey;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 20px;
}

.fonctionnement li:hover > .__hov {
  opacity: 1;
}

.fonctionnement li .__hov {
  position: absolute;
  top: 0;
  border: none;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 28px #a1aaa7;
          box-shadow: 0px 8px 28px #a1aaa7;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e4d5f6;
  z-index: -1;
  -webkit-transition: opacity ease-in 250ms;
  transition: opacity ease-in 250ms;
}

.restaurants {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(195, 199, 193, 0.2);
}

.restaurants h1 {
  margin-left: 20px;
}

.restaurants ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

.restaurants ul li {
  background-color: white;
  width: 40%;
  margin-right: 10px;
  margin-bottom: 40px;
  border: none;
  border-radius: 20px 20px 20px 20px;
}

.restaurants ul li a {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(161, 170, 167, 0.3);
          box-shadow: 0px 0px 8px 2px rgba(161, 170, 167, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.restaurants ul li a img {
  border: none;
  border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.restaurants ul li a .new {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #99E2D0;
  color: rgba(28, 41, 36, 0.5);
}

.restaurants ul li a .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  height: 20%;
}

.restaurants ul li a .caption p {
  padding-left: 10px;
  padding-bottom: 10px;
}

.restaurants ul li a span {
  font-weight: 400;
  color: grey;
  margin-top: 0;
  font-style: normal;
}

.restaurants .fa-heart {
  position: relative;
  padding-right: 50px;
  height: 100%;
  font-size: 2em;
  font-weight: 400;
  color: grey;
}

.fa-heart:hover {
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.fa-heart:hover::after {
  opacity: 0;
}

.fa-heart:hover::before {
  opacity: 1;
}

.fa-heart::after {
  opacity: 1;
  font-weight: 100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.fa-heart::before {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
  font-weight: 600;
}

/*caracteristiques du menu pour les plus petites résolutions*/
@media all and (max-width: 768px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fonctionnement ul {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .fonctionnement li {
    width: 90%;
    margin-right: 0;
  }
  .restaurants {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgba(195, 199, 193, 0.2);
  }
  .restaurants h1 {
    margin-bottom: 20px;
  }
  .restaurants ul {
    margin: 0 auto;
  }
  .restaurants ul li {
    background-color: white;
    width: 90%;
    border: none;
    border-radius: 20px 20px 20px 20px;
  }
}

footer {
  background-color: #39393a;
}

footer img {
  width: 110px;
  height: 60px;
  padding-left: 20px;
}

footer ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

footer .footer_important {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer li,
footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

footer li .fas,
footer a .fas {
  margin-right: 25px;
  width: 1px;
  height: 0.1px;
}

.footer_important {
  font-weight: bold;
}

.footer_secondaire li,
.footer_secondaire a {
  font-weight: 200;
}

.loader {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* caracteristiques des elements pour les pages des menus*/
.photo {
  height: 50%;
}

.photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0%;
  background-color: #f2F2F2;
  margin-top: -12%;
  border-radius: 25px 25px 0px 20px;
}

.menu h1 {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
}

.menu h1 .fa-heart {
  position: absolute;
  right: 100px;
  color: grey;
  font-weight: 200;
}

.menu .menu-deroulant {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menu .menu-deroulant h2 {
  margin-bottom: 5px;
}

.menu .menu-deroulant li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border: none;
  border-radius: 20px 20px 20px 20px;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 20px 20px 20px 20px;
  margin: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px 0px lightgray;
          box-shadow: 0px 5px 5px 0px lightgray;
  width: 40%;
  cursor: pointer;
}

.menu .menu-deroulant li:hover > .caption p,
.menu .menu-deroulant li:hover p {
  text-overflow: ellipsis;
}

.menu .menu-deroulant li:hover > .green_fill {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 50px;
}

.menu .menu-deroulant li:hover > .green_fill > .fa-check {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu li .green_fill {
  background-color: #99E2D0;
  padding: 15px;
  border: none;
  border-radius: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  width: 0px;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.menu li .green_fill .fa-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #99E2D0;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 25px 25px 25px 25px;
  font-size: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.menu p {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
  margin: 0;
  font-size: smaller;
}

.menu p span {
  font-weight: 600;
  color: #615d5d;
  font-size: 0.9em;
}

.menu .prix {
  width: 20%;
  margin-right: 0;
  float: right;
  text-align: right;
  margin-top: 40px;
  font-size: 0.9em;
}

.sous-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.sous-menu__caption--1 {
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.sous-menu__caption--2 {
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.sous-menu__caption--3 {
  -webkit-animation: fadein 2s forwards;
          animation: fadein 2s forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.green_line {
  padding: 2px;
  width: 60px;
  background-color: #99E2D0;
  border: none;
  border-radius: 20px 20px 20px 20px;
}

/*caracteristiques du menu pour les plus petites résolutions*/
@media all and (max-width: 768px) {
  .menu .menu-deroulant li {
    margin-left: 0;
    width: 100%;
  }
  .sous-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 480px) {
  .menu h1 .fa-heart {
    right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */