
header{ text-align: center;}

.header__logo {
    text-align: center;
    margin-top: 10px;
    display: flex;

    img {
        align-items: center;
    }
}

/*caracteristiques du header pour les pages de menu*/
.header__logo {
    justify-content: center;

    a {
        width: 10%;

        .fa-arrow-left {
            float: left;
            color: grey;
            font-size: 5em;
            margin-bottom: 5%; margin-left:20px;
            font-size: 2rem;
        }
    }

    img {
        padding-left: 10%;
    }
}

/*fin du header pour les pages*/
