header {
    text-align: center;
}

.header__logo {
    text-align: center;
    margin-top: 10px;
    display: flex;

    img {
        align-items: center;
        max-width: 90%; margin-left: 10px;
    }
}


/*caracteristiques du header pour les pages de menu*/
.header__logo {
    max-width: 90%;
    justify-content: center;

    a {
        width: 10%;

        .fa-arrow-left {
            float: left;
            color: grey;
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 2px;
            font-size: 2rem;
        }
    }
}

/*fin du header pour les pages*/