body {
    margin: auto;
    @include fontoption;
    max-width: 1920px;
}

header,
main,
footer {
    margin: 0px;
    align-content: center;
    width: 100%;
    cursor: pointer;
    font-family: $font_body;
    max-width: 1920px;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.4em;
    font-weight: 900;
    margin-bottom: 0;
    align-items: center;}

h2 {
    color: grey;
    font-size: 1.2em;
    font-weight: 500;
}

.far {
    font-weight: 600;
}

h3 {
    font-weight: lighter;
    color: grey;
}