/*caracteristiques du header pour les pages de menu*/
.loader {
    z-index: -1;
}

header {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    justify-content: start;

    a {
        width: 10%;

        .fa-arrow-left {
            float: left;
            color: grey;
            font-size: 5em;
            margin-bottom: 5%;
            font-size: 2rem;
        }
    }

    img {
        padding-left: 10%;
    }
}


/*fin du header pour les pages*/
/* caracteristiques des elements pour les pages des menus*/

.photo {
    height: 10%;

    img {
        width: 100%;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    background-color: #f2F2F2;
    margin-top: -12%;
    border-radius: 25px 25px 0px 20px;
    display: flex;
    flex-direction: column;

    h1 {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        font-family: $font_title;
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: 500;
        position: relative;

        .fa-heart {
            position: absolute;
            right: 10px;
            color: grey;
            font-weight: 400;
        }

    }

    .menu-deroulant {
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;

        h2 {
            margin-bottom: 5px;
        }

        li {
            display: flex;
            flex-direction: row;
            background-color: white;
            @include border;
            @include fontoption;
            font-size: 1.2em;
            padding-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: $border;
            border-radius: $border_rad;
            margin-bottom: 20px;
        }

        li:hover {
            &>.caption span {
                text-overflow: ellipsis;
            }

            &>.green_fill {
                transform: scaleX(1);
                width: 30px;

                &>.fa-check {
                    transform: rotate(-360deg);
                }
            }
        }
    }

    li .green_fill {
        background-color: $colour-tertiary;
        padding: 15px;
        border: $border;
        border-radius: $border_rad;
        width: 1px;
        height: 100%;
        transform: scaleX(0);
        transform-origin: right 50%;
        transition: transform 350ms ease-in-out;
    }

    li .green_fill .fa-check {
        overflow: hidden;
        display: block;
        padding: 8px;
        width: 100%;
        color: $colour-tertiary;
        background-color: white;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
        transform-origin: right;
        transition: transform 330ms ease-in-out;
    }

    span {
        width: 80%;

        p {
            font-weight: 500;
            color: rgb(66, 61, 61);
            margin-top: 5px;
            font-size: 0.9em;
        }
    }

    .prix {
        width: 20%;
        margin-right: 0;
        float: right;
        text-align: right;
        margin-top: 25px;
        font-size: 0.9em;
    }
}

.sous-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;

    &__caption {
        
     
        @for $i from 1 through $num-caption {
            &--#{$i} {  
                animation: fadein $anim-dur-menu forwards;
                animation-delay: $anim-delay * $i;
            }

        }
    }

.green_line {
    padding: 2px;
    width: 60px;
    background-color: $colour-tertiary;
    border: $border;
}

/*caracteristiques du menu pour les plus petites résolutions*/
@media all and (max-width: 768px) {

    .menu-deroulant li {
        margin-left: 0;
        width: 100%;
    }
}}