/*keyframes et specificités sur l'animation du menu déroulant */
@keyframes fadein {
        0%{
            transform: translateY(20px);
            opacity: 0%;
        }
        100%{
            transform: translateY(0px);
            opacity: 100%;
        }
}

/*Les animations*/
  
  
@keyframes spinner {
    
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);      
    }
  } 



  @keyframes molten-push {
    0%{
      opacity: 0.95;
      z-index: 1000;
    }

    10%{
      opacity: 0.9;
    }

    20%{
      opacity: 0.8;
    }

    30%{
      opacity:0.7;
    }

    40%{
      opacity: 0.6;
    }

    50%{
      opacity: 0.5;
    }

    60%{
      opacity: 0.4;
    }

    70%{

      opacity: 0.3;
    }

    80%{

      opacity: 0.2;
    }

    90%{
      opacity: 0.1;
    }
    
    100%{
      opacity: 0;
    }
  }


  @keyframes molten-pull {
    0%{
      opacity: 0.95;      
    }

    10%{
      opacity: 0.9;
    }

    20%{
      opacity: 0.8;
    }

    30%{
      opacity:0.7;
    }

    40%{
      opacity: 0.6;
    }

    50%{
      opacity: 0.5;
    }

    60%{
      opacity: 0.4;
    }

    70%{

      opacity: 0.3;
    }

    80%{

      opacity: 0.2;
    }

    90%{
      opacity: 0.1;
    }
    
    100%{
      opacity: 0;
    }
  }