$colour-primary: #9356DC;
$colour-secondary: linear-gradient(#FF79DA,#9356DC);
$colour-tertiary: #99E2D0;
$colour-hovbutton:#9356DC;
$colour-hovheart:#FF79DA;
$back-clr:rgba($color:#c3c7c1, $alpha: 0.2);
$font_title:'Shrikhand', cursive;
$font_body:'Roboto', sans-serif;
$border_rad: 20px 20px 20px 20px;
$anim_dur:2s;
$anim_dur-menu:2s;
$box-shad:10px 20px 20px rgba($color:#a1aaa7, $alpha: 0.2);
$box-shad-hov:0px 8px 28px rgba($color:#a1aaa7, $alpha: 1);
$num-caption: 3;
$anim-delay: 1.5s;